@charset "utf-8";

main {
  margin-bottom: 100px;
}

.novel-bookmark__button {
  position: fixed;
  bottom: 100px;
  left: 0;
}

.novel-bookmark__container p {
  margin: 0;
  margin-bottom: 0.5rem;
}
