.BookmarkList {
  margin-block: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  list-style: none;
  border: 1px solid black;
  border-radius: 8px;

  .BookmarkListItem {
    display: flex;
    column-gap: 8px;
  }
}
